.position {
    margin-top: '20%';
    margin-Left: '10%';
    justify-Content: 'center';
    display: 'flex';
}

.button  {    
    border: '1px solid #c3c3c3';
    justify-Content: 'center';    
    background-Color: '#5d6cd7';    
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  /*         
    // align-items: flex-end;
    // marginTop: '20%',
    // marginLeft: '10%',
    // left: '-30%' */
  }

  .button1 {    
    border: '1px solid #c3c3c3';
    justify-Content: 'center';    
    background-Color: '#5d6cd7';      
    /* // align-items: flex-end;
    // marginTop: '20%',
    // marginLeft: '10%',
    // left: '-30%' */
  }

  .box1 {
    height: 180px;
    width: 800px;
    /* background-color: aliceblue; */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /* .box2 {
    height: 180px;
    max-width: 400px;
    margin-left: 200px;
  } */

  .category1 {
    float: left;
    list-style-type: none;
    height: 140px;
    width: 140px;
    background-color:rgb(209, 241, 241);
    margin-left: 180px; 
    /* margin-top: 5%; */
    color:black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .category1:hover {
    animation: zoominoutsinglefeatured 0.5s linear ;
  }

  @keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    25% {
        transform: scale(1.1,1.1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    75% {
        transform: scale(1.25,1.25);
    }
    100% {
        transform: scale(1.3,1.3);
    }
}
  
  @media screen and (max-width: 600px) {
    .button {
      display: flex;
      flex-direction: column-reverse;
    }
    .category1 {
      height: 130px;
      width: 130px;
      margin-left: 100px; 
      margin-top: 5%;
    }
    .category1:hover {
      animation: zoominoutsinglefeatured 1s ;
    }

    @keyframes zoominoutsinglefeatured {
      0% {
          transform: scale(1,1);
      }
      25% {
          transform: scale(1.1,1.1);
      }
      50% {
          transform: scale(1.2,1.2);
      }
      75% {
          transform: scale(1.25,1.25);
      }
      100% {
          transform: scale(1.3,1.3);
      }
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .button1 {
      display: flex;
      flex-direction: column-reverse;
    }
    .category1 {
      height: 150px;
      width: 150px;
      margin-left: 100px; 
    }

    .category1:hover {
      animation: zoominoutsinglefeatured 1s ;
    }

    @keyframes zoominoutsinglefeatured {
      0% {
          transform: scale(1,1);
      }
      25% {
          transform: scale(1.1,1.1);
      }
      50% {
          transform: scale(1.2,1.2);
      }
      75% {
          transform: scale(1.25,1.25);
      }
      100% {
          transform: scale(1.3,1.3);
      }
  }
  }  

  