* {
 margin:0;
 padding: 0;
}

.App {
  text-align: center;
   /* background-image: url(/src/bg1.jpg);  */
   background-size:cover;
height: 100vh;
background-repeat: no-repeat;

background-position: center;
background-attachment: fixed;


  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  /* background-image: url(/src/Sports.jpg); */
background-size:cover;
height: 100vh;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

